PORT=8080

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=tu-access-key-id
AWS_SECRET_ACCESS_KEY=tu-secret-access-key

# Optional: Just need use with you use LocalStack
AWS_ENDPOINT_URL=http://localhost:4566

DYNAMODB_TABLE_NAME=telemetry_events